.container {
  &_main {
    @include colomnFlex(flex-start, flex-end);
    margin: 0;

    @media (max-width: $screen-1024) {
      width: calc(100% - #{$sidebar-width-768});
    }

    @media (max-width: $screen-768) {
      width: 100%;
    }

    @media (min-width: $screen-1400) {
      align-items: center;
    }

    @media (max-width: $screen-1400) {
      width: calc(1400px - #{$sidebar-width-1024} + 50px);
      margin: 0;
    }

    @media (max-width: $screen-1280) {
      width: calc(100% - #{$sidebar-width-1024} + 100px);

      margin: 0;
    }

    @media (max-width: $screen-1024) {
      width: calc(100% - #{$sidebar-width-768} + 100px);
    }

    @media (max-width: $screen-768) {
      width: 100%;
    }

    @media (min-width: $screen-1600) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &_admin {
    @include colomnFlex(center, center);
    height: 100%;
    margin: 0;

    @media (max-width: $screen-1024) {
      width: calc(100% - #{$sidebar-width-768});
    }

    @media (max-width: $screen-768) {
      width: 100%;
    }

    @media (min-width: $screen-1400) {
      align-items: center;
    }

    @media (max-width: $screen-1400) {
      width: calc(100% - #{$sidebar-width-1024});
      margin: 0;
    }


    @media (max-width: $screen-768) {
      width: 100%;
    }

    @media (min-width: $screen-1600) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }


  &_cards {
    @include rowFlex(space-between, flex-start);
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: $screen-768) {
      justify-content: center;
    }
  }

  &_filter {
    @include colomnFlex(flex-start, flex-start);
    width: 370px;
    height: 100%;

    @media (max-width: $screen-560) {
      width: 100%;
    }
  }

  &_settings {
    @include rowFlex(space-between, flex-end);
    flex-wrap: wrap;
    width: 100%;
  }

  &_hashtag {
    @include rowFlex(flex-start, flex-start);
    flex-wrap: wrap;
  }
}

.container {
  width: 100%;
}
