$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-sideBar: #ffdf8c;
$color-link: #ff7870;
$color-text-header: #27201b;
$color-text-text: #848484;

$sidebar-width-1024: 350px;
$sidebar-width-768: 300px;

// @font-face {
//   font-family: Archivo;
//   src: url(../assets/fonts/ArchivoBlack-Regular.ttf);
// }

@mixin colomnFlex($j-c: center, $a-i: center) {
  display: flex;
  flex-direction: column;
  justify-content: $j-c;
  align-items: $a-i;
}

@mixin rowFlex($j-c: center, $a-i: center) {
  display: flex;
  justify-content: $j-c;
  align-items: $a-i;
}

@mixin fontHeader {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
}

@mixin fixed($pos) {
  position: $pos;
  top: 0;
  bottom: 0;
  left: 0;
}

@mixin equalSides($size) {
  width: $size;
  height: $size;
}

@mixin roundLink($sz: 45px) {
  width: $sz;
  height: $sz;
  border-radius: 50%;
}

@mixin activeLink {
  background-color: $color-link;
  opacity: 1;
  color: #fff;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
