@import '../../styles/variables';

.order {
  @include rowFlex(space-between);
  flex-shrink: 0;
  width: 240px;
  margin-left: 30px;

  &__status {
    @include roundLink(90px);
    @include rowFlex(center, center);
    background-color: $color-sideBar;
    position: relative;
    color: $color-text-header;
    font-size: 30px;

    & > span {
      position: absolute;
      text-transform: uppercase;
      transform: translateX(75%);
      width: 125px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__counter {
    @include roundLink(30px);
    @include rowFlex(center, center);
    background-color: $color-link;
    color: $color-counter;
    margin-left: 10px;
  }

  @media (max-width: $screen-560) {
    align-self: flex-end;
  }
}
