@import '../../styles/variables';

.modal {
  &__overlay {
    @include fixed(fixed);
    @include colomnFlex;
    right: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }

  &__window {
    @include colomnFlex(flex-start);
    width: 600px;
    z-index: 1001;
    background-color: white;
    padding: 10px 25px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    height: 400px;
  }

  &__header {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end
  }

  &__content {
    height: 100%;
    width: 100%;
    @include rowFlex
  }
}

.modal.active .modal {
  &__overlay {
    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: 1000;
    transition: all 0.5s ease-in-out;
  }
}
