@import '../../styles/variables';
@import 'normalize.css';

header {
  width: 100%;
  padding: 50px 35px 20px;
  box-sizing: border-box;
  
  @include rowFlex(space-between);

  @media (max-width: $screen-1600) {
    padding-left: 15%;
  }

  @media (max-width: $screen-1024) {
    padding: 50px 25px 20px;
    padding-left: $sidebar-width-768 + 20px;
  }

  @media (max-width: $screen-1280) {
    padding-left: calc(10% + 60px);
    margin: 0;
  }

  @media (max-width: $screen-1024) {
    padding-left: calc(10% + 80px);
  }

  @media (max-width: $screen-768) {
    padding-left: 25px;
  }

  @media (max-width: $screen-560) {
    flex-direction: column-reverse;
  }

  @media (min-width: $screen-1600) {
    padding-left: $sidebar-width-1024 + 20px;
  }
}
