@import '../../styles/variables';

header {
  width: 100%;
  padding: 50px 35px 20px;
  @include rowFlex(space-between);

  @media (max-width: 1024px) {
  padding: 50px 25px 20px; 
  padding-left: $sidebar-width-768 + 20px;
  }

  @media (max-width: 1400px) {
    padding-left: calc((100% - 1280px) / 2 + #{$sidebar-width-768});
  }

  @media (max-width: 1200px) {
    padding-left: calc((100% - 1024px) / 2 + #{$sidebar-width-768});
  }

  @media (max-width: 1024px) {
    padding-left: calc((100% - 960px) / 2 + #{$sidebar-width-768});
  }

  @media (min-width: 1400px) {
    padding-left: $sidebar-width-1024 + 20px;
  }
}
