@import '../../styles/variables';

.sidebar {
    @include fixed(fixed);
    @include colomnFlex(flex-start, flex-start);
    flex-direction: column;
    left: 0;
    max-width: 335px;
    min-width: 320px;
    background-color: #faebd7;
    padding-left: 35px;

    &>span {
        opacity: 0.6;
    }

    &__category {
        @include colomnFlex(flex-start, flex-end);
        height: 50px;
        font-size: 20px;
        color: #212121;
        font-weight: 600;
        text-transform: uppercase;
    }
}