@import '../../styles/variables';

.sidebar {
  @include fixed(fixed);
  // position: absolute;
  @include colomnFlex(flex-start, flex-start);
  flex-direction: column;
  // width: $sidebar-width-1024;
  width: calc((100% - 1280px) / 2 + #{$sidebar-width-1024});
  background-color: $color-sideBar;
  padding-left: 35px;
  padding-top: 160px;

  @media (max-width: 1300px) {
    // width: $sidebar-width-768;
    width: calc((100% - 1280px) / 2 + #{$sidebar-width-768});
}

@media (max-width: 1300px) {
  width: $sidebar-width-1024;
  // width: calc((100% - 1280px) / 2 + #{$sidebar-width-768});
}

@media (max-width: 1024px) {
  width: $sidebar-width-768;
  // width: calc((100% - 1280px) / 2 + #{$sidebar-width-768});
}

@media (max-width: 768px) {
  position: relative;
  padding-top: 20px;
  width: 100%;
}

// .background {
//   @include fixed(fixed);
//   width: calc((100% - 1280px) / 2 + 200px);
//   background-color: $color-sideBar;
// }

nav {
  width: 100%;
}

  & > span {
    opacity: 0.6;
    text-transform: uppercase;
  }

  &__nav {
    @include colomnFlex(flex-end, flex-start);
    width: 100%;
  }

  &__nav-link {
    height: 50px;
    width: 100%;

    a {
      @include colomnFlex(flex-end, flex-start);
    @include equalSides(100%);
    font-size: 20px;
    color: $color-text-header;
    font-weight: 600;
    text-transform: uppercase;
    }
  }

  &__nav-link.active {
    position: relative;
    padding-left: 30px;

    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 1px;
      background: #000;
      left: 0;
      top: 75%;
      position: absolute;
    }
  }

  
}
